<div class="toggle-filter-container">
  <ul>
    <li><button class="toggle-filter">Filter <span class="filter-count">(<span class="filter-count-num"></span>)</span></button></li>
    <li class="filter-clear-all" style="display:none;"><a href="javascript:;" class="bc-sf-filter-clear-all" onclick="clearAllFilterOptions(event)">Clear</a></li>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $toggleFilter = $('.toggle-filter');
    $filterCount = $('.filter-count');
    $filterCountNum = $('.filter-count-num'),
    $filterClearAll = $('.filter-clear-all')

    $toggleFilter.on('click', function(e){
      e.preventDefault();
      e.stopPropagation();
      console.log('click')
      $(this).toggleClass('open');
      //$('body').toggleClass('filter-open');
      if($(this).hasClass('open')){
        $('#bc-sf-filter-tree').removeClass('init-hide').show();
      } else {
        $('#bc-sf-filter-tree').hide();
      }
     
    });
    
    var filterInt = setInterval(function(){
      if($('.bc-sf-filter-option-block').length > 0) {
        clearInterval(filterInt);
        setFilterCount();
        setFilterLink();
      }
    }, 100);
    
    function setFilterLink(){
      $('.bc-sf-filter-option-item').off('click').on('click', function(){
        $filterClearAll.show();
        setTimeout(function(){
          setFilterCount();
        }, 300);
      });
      $('.bc-sf-filter-clear-all').off('click').on('click', function(){
        $filterClearAll.hide();
        $filterCount.hide();
        setTimeout(function(){
          setFilterCount();
        }, 300);
      })
    }
    
    function setFilterCount(){
      var count = $('.bc-sf-filter-option-item.selected').length;
      if(count > 0) {
        
        $filterCount.show();
      } else {
        $filterClearAll.hide();
        $filterCount.hide();
      } 
      $filterCountNum.text(count);
      console.log('count ' + count);
      setFilterLink();
    }
    
    
  });
</script>