<div class="product-qty">
  <label class="label" for="Quantity">{{ 'products.product.quantity' | t }}</label>
  <div class="qty">
    <span class="down">-</span>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
    <span class="up">+</span>
  </div>
</div>