{% include 'nav-breadcrumb' %}
<div class="page" data-module-init="collaboration">
	<div class="wrapper wrapper-narrow">
		<div class="page-content">
        {% section 'collaboration-product-pf-m-2018' %}
		</div>
		
	</div>
</div>

 