<div class="page">
	<div class="wrapper wrapper-narrow">
		<div class="page-content">
			<div class="rte">
			  {{ page.content }}
        {% include 'newsletter-form' %}
			</div>
		</div>
		
	</div>
</div>