<div class="page">
	<div class="wrapper wrapper-narrow">
		<div class="shipping-content" data-module-init="table-style">
			<div class="rte">
			  {{ page.content }}
			</div>
		</div>
		
	</div>
</div>