/* FLEX */
@mixin flexbox {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;   
}

@mixin flexboxOverride {
	display: -webkit-box !important;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box !important;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox !important;      /* TWEENER - IE 10 */
	display: -webkit-flex !important;     /* NEW - Chrome */
	display: flex !important; 
}

.flex {
  @include flexbox;
}

@mixin justify-content($justify){
	-webkit-justify-content: $justify;
	justify-content: $justify;
}

@mixin flex($flex){
	-webkit-flex:$flex; 
	flex:$flex;
} 

@mixin align-content($align){
	-webkit-align-content: $align;
	align-content: $align;
}

@mixin align-self($align){
	-webkit-align-self: $align;
	align-self: $align;
}

@mixin flex-wrap($wrap){
	-webkit-flex-wrap: $wrap;
	flex-wrap: $wrap;
}

@mixin flex-flow($flow){
	-webkit-flex-flow: $flow;
	flex-flow: $flow;
}

@mixin align-items($align){
	-webkit-align-items: $align;
	align-items: $align;
}

@mixin flex-grow($grow){
	-webkit-flex-grow: $grow;
	flex-grow: $grow;
}


@mixin flex-basis($basis){
	-webkit-flex-basis: $basis;
	flex-basis: $basis;
} 


@mixin flex-direction($direction){
	-webkit-flex-direction: $direction;
	flex-direction: $direction;
}