@mixin transition($transition) {
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
	  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); /* Safari and Chrome */
	  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

