.cart-form {
  
  .cart-body {
    
    @include gutter;
    
    .cart-item {
      @include globalTextUC;
      @include borderBottom;
      @include gutter-padding-bottom(1);
      &:after {
        height: 2px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      
      .selection { display: none; }
      
      .edit-options {
        display: none;
        @include gutter-bottom(1);
        .selector-wrapper {
          @include gutter-top(0);
        }
      }
      
      .cart-inner {
        @include flexbox;
        @include justify-content(space-between);
        @include flex-direction(column);
        @include gutter-right(1);
      }
      
      
      
      .cart-item-inner {
        @include flexbox;
        flex-wrap: wrap;
        @include two-cols;
        @include product-thumb;
        position: relative;
        
        .c-col {
          @include flexbox;
          @include justify-content(space-between);
          width: 100%;
          li {
            list-style: none;
          }
        }
        button {
          line-height: 1;
          margin-right: 2em;
        }
        
        .c-edit-controls { 
          display: none; 
          @include gutter-top(2); 
          width: 200px;
          margin-bottom: -.2em;
          @include justify-content(flex-start);
        }
        
        .c-remove {
            margin-bottom: -.2em;
            width: 200px;
            @include justify-content(flex-start);
            
        }
        
        .c-remove, .c-edit-controls {
          //position: absolute;
          //bottom: -.2em;
          line-height: 1;
          width: auto;
          
          .button {
            line-height: 1;
            margin-left: 1em;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      
      &.editing {
        .item-set-variant {
          display: none;
        }
        .edit-options {
          display: block;
        }
        .cart-item-inner {
          .c-remove { display: none; }
          .c-edit-controls { @include flexbox; }
        }
      }
      
      
    }
  }
  .total-price {
    @include two-cols;
    .subtotal-label {
      @include globalTextUC;
    }
    .money {
      float: right;
    }
  }
  
  #checkout-buttons {
    //@include borderTop;
    @include gutter-padding-top(1);
  }
  
  #checkout-buttons, #order-notes {
    @include gutter;
  }
  
 
  
}

#cart-empty {
  width: 100%;
}

.related.product-item {
  .selector-wrapper {
    text-align: center;
  }
  margin-bottom: 0;
  h3 {
    @include overflow;
  }
  .item-form {
    display: none;
  }
  &.active {
    .item-form {
      display: block;
    }
    .item-details {
      visibility: visible !important;
      display: none;
    }
  }
  button {
    display: none;
  }
  &.active.selected {
    .selector-wrapper {
      display: none;
    }
    button {
      display: block;
    }
  }
  &.active {
    form.single-variant {
      button {
        display: block;
      }
    }
  }
  .selector-wrapper {
    @include borderAll;
    position: relative;
    @include break(mobile) {
      display: block;
    }
    .label {
      //@include link-underline;
      height: $desktop-nav-height - 4 !important;
      line-height: $desktop-nav-height - 4;
  
      @include break(mobile) {
        height: $desktop-nav-height - 4 !important;
        line-height: $desktop-nav-height - 4;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
  .dummy-select {
    @include break(mobile) {
      margin-left: 0;
    }
    li {
      @include borderTop;
      text-align: center;
      width: 100%;
      height: $desktop-nav-height - 7 !important;
      line-height: $desktop-nav-height - 4;
  
      @include break(mobile) {
        height: $desktop-nav-height - 7 !important;
        line-height: $desktop-nav-height - 4;
      }
      margin-bottom: 0;
      &:hover, &.active {
        background: black;
        color: white;
        &:after {
          display: none;
        }
      }
      &:before {
        padding: 1px;
      }
      &[data-disabled="true"] {
        //background: black;
        &:before {
          top:0;
        }
        span {
          position: relative;
          display: inline-block;
          @include borderTop;
          &:before {
            position: absolute;
            top: 1.2em;
            width: 250%;
            margin-left: -15%;
            @include break(mobile) {
              top: 1.3em;
            }
          }
        }
      }
    }
  }
}

.mlvedaCartNote {
  @include gutter;
  margin-top: 2em;
  @include two-cols;
  display: block !important;
  @include break(mobile) {
    margin-top: 2em;
  }
}