.page-collaboration, body[class*="page-collaboration"] {
  .page {
    @include break(mobile){
      padding-top: 0;
    }
  }
  .page-content {
    width: auto;
    @include break(mobile){
      width: 100%;
      max-width: 100%;
    }
    .product-collab-block {
      @include flexbox;
      flex-direction: column;
      @include gutter-bottom(3);
      
      .back-to-look {
        display:none;
        @include gutter-bottom(4);
      }
      
      &.active {
        @include break(mobile) {
          .back-to-look {
            display: block;
          }
        }
      }
      
      ol {
        counter-reset: section;
        li {
          list-style:none;
          //margin-bottom: $v-padding * 2;
          .product-collab-content {
            @include gutter-left(4);
            @include gutter-bottom(2);
            a {
              @include gutter-top(1);
              display: inline-block;
            }
          }
          .counter {
            @include circleBbutton(#000);
            float: left;
            margin-top: -.17em
          }
          
          /*
          &:before {
            border: 1px solid $c-border;
            border-radius: 10rem;
            width: 20px;
                height: 20px;
            float: left;
            display: block;
            text-align: center;
            counter-increment: section;                 
            content: counter(section);
          }
          */
        }
      }
      .product-collab-upper {
        @include flexbox;
        @include justify-content(space-between);
        @include break(mobile) {
          //margin-left: $mobile-gutter;
          //margin-right: $mobile-gutter;
        }
        
        .product-collab-controls {
          @include globalTextUC;
          @include horizontal-list;
          @include break(mobile) {
            @include gutter-top(1);
            @include gutter-left(1);
          }
          .back {
            display: none;
            //@include break(mobile) { display: block; }
          }
          .shop-collaboration {
            @include break(mobile) {
              display: none !important;
            }
          }
          li {
            &:first-child {
              margin-left: 0 !important;
            }
            button, a {
              @include link-underline;
            }
            &.active {
              button, a {
                @include link-underline-active;
              }
            }
            list-style: none !important;
            &:before { display: none; }
           
          }
        }
        
        
        .gallery {
          @include flexbox;
          white-space: unset;
          overflow-x: visible;
          overflow-y: visible;
          
          @include break(mobile) {
            white-space: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
          }
        }
        .product-collab-block-references {
          @include two-cols;
          //visibility: hidden;
          @include break(mobile) {
            display: none;
            @include flex-direction(column);
          }
          &.over {
            ol li {
              @include opacity(.3);
              &.over {
                @include opacity(1);
              }
            }
          }
          li {
            //display: none; 
          }
          li.over, li:hover {
            display: block;
            
            .counter { 
               @include circleBbuttonFill(#fff, #000);
               
               span {
                 z-index: 2;
                 color: #fff !important;
                 position: relative;
               }
            }
          }
          .product-item {
            display: none; 
          }
          .grid-item {
            padding-right: 0;
            margin-left: 0 !important;
          }
          .product-collab-content {
            .product-collab-sku {
              margin-bottom: .2em;
              display: block;
            }
            .product-collab-description {
              display: block;
              @include gutter-top(1);
            }
            a {
              @include globalTextUC;
              @include gutter-top(1);
              @include break(mobile) {
                margin-top: $mobile-gutter/2;
              }
            }
            
          }
        }
        .product-collab-image {
          @include two-cols;
          width: 40%;
          position: relative;
          align-self: flex-start;
          cursor: pointer; 
          @include break(mobile){
            width: auto;
            max-width: 100%;
            @include gutter;
          }
          .product-collab-counter {
            @include gutter-top(1);
            display: block;
          }
          &:hover, &.show_numbers {
            button {
              visibility: visible;
            }
          }
          a {
            @include circleBbutton(#fff);
            //visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            display: block;
            text-align: center;
            //border: 1px solid #fff;
            border-radius: 10rem;
            width: 20px;
            height: 20px;
            &:hover, &.over {
              position: absolute !important;
              @include circleBbutton(#000);
              color: #000;
            }
            @include break(mobile) {
              visibility: visible;
            }
          }
          img {
            width: 100%;
          }
        }
      }
      .product-collab-block-lower {
        @include flexbox;
        @include justify-content(space-between);
        margin: $gutter 0 0;
        @include break(mobile) {
          margin-left: $mobile-gutter;
          margin-right: $mobile-gutter;
        }
        &>div {
          margin-left: 2rem;
          @include break(mobile) {
            margin-left: 0;
          }
        }
        div {
          
          @include break(mobile) {
            display: none;
            width: 100%;
            text-align: center;
          }
        }
        button, a {
          //visibility: hidden;
          margin-right: 1rem;
          line-height: 1;
          
          @include globalTextUC;
        }
        .view-as-text {
          display: none;
        }
        .back {
          display: none;
          @include break(mobile){
            display: inline-block;
          }
        }
        .product-collab-counter {
          //@include two-cols;
          width: 40%;
        }
      }
      
      &.active, &.visible {
        .product-collab-upper {
          
          .product-collab-image {
            @include break(mobile) {
              display: none;
            }
            a {
              visibility: visible;
            }
          }
        }
        .product-collab-block-references {
          visibility: visible;
          @include break(mobile) {
            @include flexbox;
            ol {
              @include gutter;
            }
          }
        }
        .product-collab-block-lower {
          div {
            @include break(mobile) {
              display: block;
            }
          }
          
          .product-collab-counter {
            @include break(mobile) {
              display: none;
            }
          }
          button, a {
            visibility: visible;
          }
        }
      }
      
      &.show-images {
        @include break(mobile) {
          .product-collab-upper {
            margin-top: -5px;
          }
          
          ol {
            margin: 0 !important;
            li:first-child { @include gutter-left(1); }
            li:last-child { @include gutter-padding-right(1); }
            li { @include flex(0); }
          }
        }
        .counter {
          display: block;
          @include gutter-bottom(.8);
          @include break(mobile) {
            margin-top: 2px;
          }
        }
        
        .product-collab-upper {
          
          
          
          
          .product-collab-block-references {
            @include three-cols;
            
            ol {
              @include break(mobile) {
                white-space: nowrap;
              }
            }
            
            ol li {
              float: left;
              @include gutter-right(1);
              @include flex-direction(column);
              @include break(mobile) {
                display: inline-block;
                float: none;
              }
              &:hover, &.over {
                @include flexbox;
              }
              
              &:before {
                display: none;
              }
            }
            .product-collab-content {
              display: none;
            }
            .product-item {
              display: block;
              @include small-product-module;
            }
          }
        }
        
        .product-collab-block-lower {
          .view-as-images {
            display: none;
          }
          .view-as-text {
            display: inline-block;
          }
        }
      }
      
    }
  }
}

.shop-collaboration {
  @include globalTextUC;
  @include link-underline;
  @include gutter-right(1);
  float: right;
}