div.page {
  
  padding-top: $gutter * 5;
  text-align: left;
  @include break(mobile) {
    padding-top: $mobile-gutter * 2;
  }
  

  
  .template-cart &, .template-page & {
    //padding-top: $v-padding * 5;
    @include break(mobile) {
      //padding-top: $v-padding * 2;
    }
  }
  
  

}

.template-page.header-active {
  .main-content, #app-footer, #app-footer .overflow-container {
    background-color: #f2f2f2;
  }
}

.page-content {
  @include two-cols;
  @include gutter;
  
  &.full {
    width: auto;
  }
  
  @include break(mobile) { 
    margin: 0;
    .rte {
      @include gutter;
    }
  }
  
  a {
    //@include underline;
  }
  
  .rte {
    h1 {
      margin-bottom: $gutter * 5;
      @include break(mobile) {
        margin-bottom: $mobile-gutter * 2;
      }
    } 
    h2 { 
      @include globalTextUC;
    }
    h3 {
      margin-top: 2.4em;
    }
    /*
    * 
    *
    */
    
    ol {
      list-style-type: none;
      counter-increment: main;
      counter-reset: item;
      margin: 0;
      padding: 0;
      ol {
        counter-increment: main - 1;
      }
      li {
        
      }
    }
    
    

    ol > li {
      display: table;
      counter-increment: item;
      margin-bottom: 0.6em;

      &:before {
        content: counter(main) ".";
        display: table-cell;
        padding-right: 0.6em;
      }
    }

    ol > ol > li {
      //margin: 0;
      @include gutter-bottom(1);
      &:before {
        content: counter(main) "." counter(item) " ";
      }
    }
    
    ol {
      //counter-increment: section;
      //counter-increment: mainsection;
      @include gutter-left(3);
      @include gutter-bottom(1);
      @include gutter-top(2); 
      li {
 
        list-style: none;
        &:before {
          position: absolute;
          left: 0;
          @include gutter-left(1);
          //content: counter(mainsection) ".";
        }
      }
      
      b, strong {
        @include globalTextUC;
      }
      
      &>li {
        @include globalTextUC; 
        p {
          @include globalText;
          @include gutter-bottom(0);
        }
      }
      
      ol, ul {
        @include gutter-top(1);
        @include gutter-bottom(0);
        margin-left: 0;
        list-style: none;
        li {
          @include globalText;
        }
      }

      ol {
        
        li {
          //counter-increment: section;
          //counter-increment: subsection;
          &:before {
            position: absolute;
            left: 0;
            @include gutter-left(1);
            //content: counter(section) "." counter(subsection) " ";
          }
        }
        ul {
          //counter-reset: subsection;
          li {
            @include list-bullet;
            @include gutter-padding-left(2);
          }
        }
      }
      
      &.gallery {
        @include gutter-left(0);
        @include gutter-bottom(0);
        li {
          margin-left: 0;
        }
      }
    }
  }
  
 
  
  ul {
    @include gutter-left(1);
    @include gutter-bottom(1);
    li {
      @include list-bullet;
    }
  }
}