.search-results-ajax-container {
  display: none;
  .results-available & {
    display: block;
  }
  li {
    list-style: none;
  }
}

.results-count {
  height: $desktop-nav-height;
  line-height: $desktop-nav-height + 3;
  text-align: left;
  margin-left: $gutter;
  a {
    display: inline-block;
    float: right;
    margin-right: $gutter;
  }
}

#app-search {
  display: none;
  
  @include break(mobile) {
    margin-top: $desktop-nav-height;
  }
  
  .template-search & {
    display: block;
  }
  
  li {
    list-style: none;
  }
  
  &.show, .template-search & {
    //display: block;
    //margin: $v-padding 0 0;
    form{
      
    }
  }
  
  
  
  .auto-term {
    a {
      display: block;
    }
  }
  
  form {
    @include form-styles;
    //display: none;
    
    
    .search-wrapper {
      @include gutter;
      height: $desktop-nav-height;
      justify-content: center;
      display: flex;
      flex-direction: column;
      &:after {
        top: 2.15em;
      }
    }
    
    button {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
    }
    
    .search-close {
      position: absolute;
      right: 0;
      display: block;
      width: 12px;
      height: 12px;
      bottom: 19px;
      z-index: 2;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .suggestions {
    
  }
  
  .search-results {
    @include overflowScroll;
    text-align: left;
    @include flexbox;
    li {
      //margin: ($v-padding*2) 0;
      display: inline-block;
      padding-left: 0;
      padding-left: 1.3rem;
      
      &:first-of-type {
        @include gutter-padding-left(1);
      }
      a {
        @include link-underline;
        display: block;
      }
    }
  }
}

.bc-sf-search-suggestion-wrapper {
  left: 0 !important;
  width: 100% !important;
  background: #fff;
  position: relative !important;
  top: 0 !important;
  //top: 89px !important;
  
  .bc-sf-search-suggestion-popover {
    display: none !important;
  }
  ul.bc-sf-search-suggestion {
    box-shadow: none !important;
    display: block !important;
    border-radius: none !important;
    width: 100% !important;
    left: 0 !important;
    margin-top: -1px;
    top: 0 !important;
    position: relative !important;
    //@include flexbox;
    @include no-select;
    @include flex-wrap(wrap);
    text-align: left;
    
    &>div:first-child:not(.suggestion-list-wrapper) {
      @include gutter-top(1);
    }
    
    .suggestion-list-wrapper {
      @include horizontal-list;
      ul {
        @include flexboxOverride;
      }
    }
    .gallery-inner {
      @include flexboxOverride;
    }
    .suggestion-list-wrapper, .product-list-wrapper {
      
    }
    li.bc-sf-search-suggestion-item:nth-child(2){
      @include gutter-left(1);
    }
    li.list-num-0 {
      @include gutter-left(1);
    }
    .ui-autocomplete-category {
      //display: none !important;
    }
    .bc-sf-search-suggestion-header {
      background: #fff !important;
      text-align: left !important;
      width: 100% !important;
      display: none !important;
      border: none !important;
      font-size: 0 !important;
      height: 0 !important;
      overflow: hidden;
    }
    .bc-sf-search-suggestion-product-title {
      @include overrideTextUC;
      @include overflow;
      font-weight: normal !important;
      b, strong {
        color: blue;
      }
    }
    .bc-sf-search-suggestion-item-product {
      @include gutter-top(0);
      @include gutter-bottom(1);
      @include gutter-right(1);
      @include smallFlickity;
      //.bc-sf-search-suggestion-product-sku { text-indent: -2.4em; }
      .bc-sf-search-suggestion-product-vendor { display: none !important; }
      .ui-menu-item-wrapper {
        @include flexbox;
        @include flex-direction(column);
        @include small-product-module;
      }
      padding: 0 !important;
      
      &:last-child {
        padding-right: $gutter !important;
        @include break(mobile) {
          padding-right: $mobile-gutter !important;
        }
      }
      
      .bc-sf-search-suggestion-left {
        margin-right: 0 !important;
        float: none !important;
        display: block !important;
        img {
          width: 100%;
        }
      }
      
      &:hover {
        background: #fff !important;
      }
      a {
        @include globalTextUC;
        
      }
    }
    .bc-sf-search-suggestion-item:not(.bc-sf-search-suggestion-item-product) {
      padding: 0 !important;
      a {
        @include globalTextUC;
        @include link-underline;
        //@include gutter-right(1);
        b {
          font-weight: normal !important;
          text-decoration: none;
          color: blue;
        }
      }
      &:hover {
        background: #fff !important;
      }
    }
  }
}






