.page {
  .shipping-content {
    @include gutter;
    .rte {
      *:not(table):not(td):not(th):not(tr) {
        @include two-cols;
      }
      table tbody>tr>td {
          padding: .3rem .5rem .8rem .3rem;
          &.parent-td {
            padding: 0;
          }
      }
      .parent-td {
        table {
          height: 100%;
        }
      }
       h2 {
        @include gutter-padding-top(2);
        margin-bottom: 1em;
      }
      
      table + p {
        margin-top: 1em;
      }
      
      blockquote {
        max-width: 100%;
      }
      
      table {
        width: 100%;
        td {
          width: 25%;
          @include globalTextUC;
        }
        &>td {
          &:nth-child(2) {
            padding: .3rem .5rem .8rem .3rem;
          }
        }
      }
    }
  }
}